*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;
}

/* start header */
header{
    background-color: #fffcf8;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding-top: 20px;
}
.header-logo img{
    height: 70px;
    display: flex;
    justify-content: start;
    cursor: pointer;
}
.list-item ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: rgba(0, 0, 0, 0.466);
}
.list-item ul li{
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.list-item ul li:hover{
    color: #d4a762;
}
.header-button1{
    padding: 11px 11px;
    border-radius: 50%;
    border: #d4a762 1px solid;
    background-color: #d4a762;
    cursor: pointer;
    margin-right: 20px;
}
.header-button1 i{
    font-size: 18px;
}
.header-button2{
    padding: 12px 26px;
    border-radius: 40px;
    border: #d4a762 1px;
    background-color: #d4a762;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.header-button2:hover{
    background-color: black;
    color: #d4a762;
}
/* end header */

/* start section-1 */
.section-1{
    background-color: #fffcf8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
    padding-top: 100px;
}
.left-section-1{
    opacity:0;
    transform:translateY(-100vh); 
    animation: slideDown 1s ease forwards;
}
@keyframes slideDown{
    to{
        opacity:1; transform:translateY(0);}
}
.left-section-1 span{
    color: #d4a762;
}
.left-section-1 p{
    font-size: 80px;
    font-family: 'Playball', cursive !important;
}
.button-sec-1{
    padding: 7px 20px;
    border: #d4a762 1px solid;
    background-color: #fffcf8;
    border-radius: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
.button-section-1{
    margin-top: 30px;
    opacity:0;
    transform:translateX(-100vw); 
    animation: slideRight 1s ease forwards 0.7s;
}
@keyframes slideRight{
    to{
    opacity:1; transform:translateX(0);
}
}
.button-sec-2{
    border: #d4a762 1px;
    background-color: #d4a762;
    padding: 18px 45px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.button-sec-3{
    border: #d4a762 1px;
    background-color: #d4a762;
    padding: 18px 45px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.button-sec-2:hover{
    background-color: black;
    color: #d4a762;
}
.button-sec-3:hover{
    background-color: black;
    color: #d4a762;
}
.right-section-1 img{
    height: 500px;
    opacity: 0;
    transform: scale(0); 
    animation: zoomIn 1s ease forwards 0.7s; 
}
@keyframes zoomIn {
    to{
    opacity: 1;
    transform: scale(1); 
}
}
/* end section-1 */

/* start secton-2 */
.section-2{
    display: flex;
    justify-content: center;
    margin-top: 230px;
    gap: 50px;
    padding: 0 110px;
}
.left-section-2 img{
    height: 500px;
    border-radius: 8px;
}
.left-section-2{
    animation: fromBottom 0.8s ease-out forwards;
    animation-delay: 0s;
}
.right-section-2{
    padding-top: 40px;
    animation: fromBottom 0.8s ease-out forwards;
    animation-delay: 0.8s;
}
.right-section-2 h4{
    font-size: 50px;
    font-family: 'Playball', cursive !important;
    font-weight: normal;
    padding-top: 20px;
}
.right-section-2 p{
    color: #9A9A9A;
    line-height: 25px;
    padding-top: 20px;
}
.button-aboutus{
    padding: 6px 20px;
    border: #d4a762 1px solid;
    background-color: #fffcf8;
    border-radius: 40px;
    font-weight: bold;
}
.p-sec2{
    display: flex;
    gap: 150px;
    color: black;
}
.p-sec2 p{
    color: black;
}
.button-section-2{
    padding: 17px 42px;
    border-radius: 40px;
    border: #d4a762 1px;
    background-color: #d4a762;
    font-weight: bold;
    font-size: 17px;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.button-section-2:hover{
    background-color: black;
    color: #d4a762;
}
@keyframes fromBottom {
    0% {
    opacity: 0;
    transform: translateY(100vh);
    }
    100% {
    opacity: 1;
    transform: translateY(0);
    }
}
/* end section-2 */

/* start section-3 */
.section-3{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 18px;
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    opacity:0;
    transform: translateY(100vh);
    animation: up 0.8s forwards;
    animation-delay: 0.7s;
}
@keyframes up {
    to{
    opacity:1;
    transform: translateY(0);
}
}
.box{
    width: 230px;
    height: 230px;
    background-color: #d4a762;
    border-radius: 8px;
}
.icon-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.icon-name i{
    font-size: 55px;
}
.icon-name h4{
    font-size: 50px;
    padding-top: 15px;
    font-family: 'Playball', cursive !important;
}
.icon-name p{
    padding-top: 15px;
    font-size: 17px;
    font-weight: bold;
}
.photo-sec-3{
    opacity:0;
    transform: translateY(100vh);
    animation: up 1s forwards;
}
.photo-sec-3 img{
    height: 430px;
    cursor: pointer;
}
/* end section-3 */

/* start section-4 */
.section-4{
    margin-top: 150px;
}
.header-sec-4{
    text-align: center;
    opacity: 0;
    transform: translateY(100vh);
    animation: slideUp 0.8s ease forwards;
    animation-delay: 0s;
}
.header-sec-4 button{
    padding: 7px 20px;
    border: #d4a762 1px solid;
    background-color: #fffcf8;
    border-radius: 40px;
    font-weight: bold;
}
.header-sec-4 h4{
    font-family: 'Playball', cursive !important;
    font-size: 45px;
    font-weight: normal;
    padding-top: 20px;
}
.boxes-2:nth-of-type(1) {
    animation-delay: 0.8s;
}
.boxes-2:nth-of-type(2) { 
    animation-delay: 1.6s; 
}
.boxes-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
    opacity: 0;
    transform: translateY(100vh);
    animation: slideUp 0.8s ease forwards;
}
.box-2{
    width: 300px;
    height: 350px;
    background-color: #FFFCF9;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    position: relative;
    overflow: hidden;
}
.box-2 i{
    font-size: 110px;
    transition: color 1s ease;
}
.box-2 h4{
    font-size: 22px;
    padding-top: 30px;
}
.box-2 p{
    color: #9A9A9A;
    padding: 20px 20px 0 20px;
    transition: 1s;
}
.box-2 button{
    padding: 10px 27px;
    border: #d4a762 1px;
    background-color: #d4a762;
    border-radius: 40px;
    margin-top: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 1s;
}
.box-2 button:hover{
    background-color: black;
    color: #d4a762;
}
.box-2::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d4a762;
    z-index: 0;
    transition: top 1.1s ease;
    border-radius: 10px;
}
.box-2:hover::before {
    top: 0;
}
.box-2 > * {
    position: relative;
    z-index: 1;
}
.box-2:hover button {
    background-color: #fff;
    color: black;
}
.box-2:hover i {
    color: #000 !important;
}
.box-2:hover p{
    color: white;
}
@keyframes slideUp {
    to {
    opacity: 1;
    transform: translateY(0);
}
}
/* end section-4 */

/* start section-5 */
.section-5{
    margin-top: 150px;
}
.header-sec-5{
    text-align: center;
}
.header-sec-5 button{
    padding: 6px 22px;
    border: #d4a762 1px solid;
    background-color: #fffcf8;
    border-radius: 40px;
    font-weight: bold;
}
.header-sec-5 h4{
    font-size: 50px;
    font-family: 'Playball', cursive !important;
    font-weight: normal;
    padding-top: 25px;
}
.buttons{
    display: flex;
    gap: 35px;
    justify-content: center;
    margin-top: 40px;
}
.buttons button{
    padding: 10px 45px;
    border: #d4a762 1px solid;
    background-color: #fffcf8;
    border-radius: 40px;
    font-size: 17px;
    cursor: pointer;
}
.photo-sec5 {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 60px;
}
.img-box {
    position: relative;
    overflow: hidden;
    opacity: 0;
    animation-name: slideUpFadeIn;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.img-box img {
    width: 300px; 
    display: block;
    border-radius: 8px;
}
.overlay {
    position: absolute;
    inset: 0; 
    background-color: rgba(212,167,98,0.6); #d4a762 ;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 8px;
    transition: 0.5s ease;
}
.overlay i {
    color: black;
    font-size: 40px;
    cursor: pointer;
}
.img-box:hover .overlay {
    opacity: 1;
}
.img-box:nth-child(1) {
    animation-delay: 0.1s;
}
.img-box:nth-child(2) {
    animation-delay: 0.3s;
}
.img-box:nth-child(3) {
    animation-delay: 0.5s;
}
.img-box:nth-child(4) {
    animation-delay: 0.7s;
}
@keyframes slideUpFadeIn {
    0% {
    transform: translateY(100vh);
    opacity: 0;
}
    100% {
    transform: translateY(0);
    opacity: 1;
}
}
/* end section-5 */